.main {
  display: flex;
  flex-direction: row;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: center;
  margin-bottom: 20px;
}

.profile-picture-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7B4FC9;
  cursor: pointer;
  transition: 0.2s;
}

.profile-picture-container img:hover {
  opacity: 0.8;
}

.profile-buttons {
  display: flex;
  gap: 10px;
}

.profile-buttons button {
  background-color: #7B4FC9;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.profile-buttons button:hover {
  background-color: #7B4FC9;
}

#mensagemErro {
  color: #d63131;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

header {
  height: 60px;
  margin: 0;
}
