header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
    }

header h1 {
  font-size: 22px;
    }

/* Barra de busca */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    }

.search-container input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 70%;
    margin-left: 100px;
}

.search-container button {
  background: #b47bff;
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
    }
/* Tabela */
#teamTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#teamTable th {
  text-align: left;
  font-size: 14px;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
}

#teamTable td {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#teamTable tr:hover {
  background: #f3f1f9;
}

/* card */

.form-card {
  background-color: rgba(15, 19, 32);
  color: white;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

.form-card button {
  background: #8a2be2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#memberForm {
    padding-right: 20px;
}

.hidden {
  display: none;
}