#equipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

@media (max-width: 1024px) {
  #equipes-container {
    justify-content: center;
  }

  .team-card {
    margin: 0 !important;
  }
}

.team-card-link {
  text-decoration: none;
  color: inherit;
}

.team-card {
  margin-bottom: 20px;
  background: #fff;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
}

.team-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.team-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.team-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

#isAdmin {
 max-width: 20px;
}

td, th {
  padding: 8px 8px;
  text-align: start;
  border-bottom: 1px solid #eee;
}

#mensagemErro {
  color: red;
  text-align: center;
}
