/* Tabela */
#teamTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#teamTable th {
  text-align: left;
  font-size: 14px;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
}

#teamTable td {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#teamTable tr:hover {
  background: #f3f1f9;
}


