html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9fb;
  color: #222;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 240px;
  padding: 30px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background: #12192C;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.sidebar h2 {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.4rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin: 6px 0;
  text-decoration: none;
  color: #cfcfea;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  background: #3a0ca3;
  color: #fff;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menu a:hover {
  color: #b47bff;
}

#popupSucesso {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #134011;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#popupSucesso.show {
  opacity: 1;
  transform: translateY(0);
}

.switch {
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 5px;
  width: 50px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 3px;
  box-sizing: border-box;
}

.switch input {
  display: none;
}

.slider {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* quando estiver ativado */
.switch input:checked+.slider {
  transform: translateX(24px);
  background-color: white;
}

.switch input:checked,
.switch:has(input:checked) {
  background-color: #7B4FC9;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-profile button {
  margin-left: auto;
  background-color: #e63946;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.user-profile button:hover {
  background-color: #5a36a3;
}