/* 
    
CSS PAGINA MINHAS TAREFAS
    
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 22px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.search-container input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 70%;
  margin-left: 100px;
}

.search-container button {
  background: #b47bff;
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
}

td .status {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
}

.status.entregue {
  background: #1d4126;
  color: #fff;
}

.status.pendente {
  background: #f4c542;
  color: #000;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
}

.status.pendente {
  background: orange;
}

.status.entrega {
  background: green;
}

.status.atrasada {
  background: red;
}


.form-card {
  background-color: rgba(15, 19, 32);
  color: white;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

.form-card #descricao {
  height: 30px;
}

.form-card #customFileButton {
  color: #7B4FC9;
  border: 2px solid #7B4FC9;
  transition: 0.2s;
}

#customFileButton,
.form-card .button {
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.form-card .button {
  background: #8a2be2;
  color: white;
}

#customFileButton {
  color: #7B4FC9;
  border: 2px solid #7B4FC9;
  transition: 0.2s;
  margin-bottom: 10px;
}

#fileName {
  color: #555;
  font-size: 14px;
}

#memberForm {
  padding-right: 20px;
}

.hidden {
  display: none;
}

.task-table a {
  color: inherit;
  text-decoration: none;
}

#mensagemErro {
  color: red;
  text-align: center;
}